<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content padding>
  <ion-grid fixed>
    <p text-wrap>
      Der Effektive Altruismus (EA) ist eine Philosophie und soziale Bewegung, die es für ethisch zentral hält, anderen so gut wie möglich zu helfen. Dabei ist es entscheidend, wissenschaftlich und rational vorzugehen, um die besten Strategien ausfindig zu machen. Häufig wird beim „Gutes tun“ im Affekt und nach Bauchgefühl gehandelt, ohne mögliche (bessere) Alternativen in Betracht zu ziehen und auch die eigenen Motive hinterfragen. Dadurch werden Mittel, die an anderer Stelle ein Vielfaches ihrer Wirkung entfalten könnten, nicht optimal eingesetzt. Beispielsweise sterben an den Folgen globaler Armut jeden Tag über 16.000 Kinder. Oft ist diese globale Armut leichter zu mindern als die Armut in entwickelten Ländern wie Deutschland.
      Sollte der Faktor der geographischen Nähe nicht nur eine untergeordnete Rolle spielen?
    </p>
    <p text-wrap>
      Zentrales Konzept des EA ist daher, die Ressourcen Zeit und Geld so einzusetzen, um durch ethische Berufswahl und effektives Spenden den sozialen Impact zu maximieren. Dabei ist der EA bereichsneutral: Aus allen Problembereichen soll diejenige Intervention gewählt werden, mit der die größtmögliche positive Wirkung erzielt werden kann. Die dazugehörige Forschung zur Priorisierung verschiedener Problembereiche und konkreter Interventionen ist schwierig, aber gleichzeitig enorm wichtig: Die Unterschiede zwischen verschiedenen Interventionen in Bezug auf Kosteneffektivität können mehrere Größenordnungen umfassen. Manche Interventionen können sogar mehr schaden als nutzen! Hilfreiche Kriterien für die Beurteilung, ob es lohnt, Ressourcen in einen bestimmten Problembereich zu Investieren sind Ausmaß, Vernachlässigung und Lösbarkeit des Problems. Die genaue Beurteilung dieser Bereiche hängt natürlich auch von moralischen und weltanschaulichen Annahmen ab. In der globalen EA-Bewegung gibt es primär drei große Problembereiche, an denen effektive Altruisten/innen direkt arbeiten, das sind Weltarmut, Tierleid sowie Zukunft und Zukunftstechnologien.
    </p>
    <p text-wrap>
      Das effektive Spenden ist darauf ausgerichtet, unter all den Möglichkeiten, für die wir unser Geld ausgeben können, diejenigen zu finden, welche die höchste positive Wirkung auf die Welt versprechen. Weil viele Problembereiche noch stark unterfinanziert sind, können wohlüberlegte Spenden, selbst wenn es sich um relativ kleinere Beträge handelt, eine derart hohe positive Wirkung erzielen, dass die (positiven oder negativen) direkte Auswirkungen der eigenen Arbeit oder des eigenen Konsumverhaltens dagegen nur mäßig wichtig erscheinen.
      Daraus folgt keineswegs, dass nur das Spenden wichtig ist. Es folgt jedoch daraus, dass es für viele effektive Altruisten/innen eine sichere Alternative ist, ihre Aufmerksamkeit darauf zu richten, entweder selbst effektiv zu spenden oder andere Personen vom effektiven Spenden zu überzeugen – denn hier sind die positiven Effekte nachweisbar und sehr deutlich. Viele effektive Altruisten/innen unterzeichnen beispielsweise den Pledge der Organisation Giving What We Can und geben ihr Versprechen, über den Verlauf ihres Lebens mit mindestens 10 % ihres Einkommens effektive Organisationen zu unterstützen.
    </p>
  </ion-grid>
</ion-content>
