<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content>
  <!-- BETA TEST -->
  <ion-list no-lines>
    <ion-item>
      <ion-grid fixed>
        <ion-card>
          <ion-item>
            <h2>Willkommen liebe Beta-User</h2>
            <p>Schön das ihr euch für unser Projekt interessiert. Wir würden uns freuen, eure Meinung zu unserer Seite zu hören und generelles Feedback zu bekommen. </p>
          </ion-item>
          <ion-item>
            <button ion-button color="primary" (click)="showBetaTestInfos()">
              <ion-icon name="information-circle"></ion-icon>
              &nbsp;
              Mehr Informationen zum Betatest
            </button>
          </ion-item>
        </ion-card>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- QUESTIONS -->
  <ion-list no-lines *ngIf="!nav.startsWith('result ->')" [ngSwitch]="nav" @ngIfAnimation>
    <ion-item *ngSwitchCase="'start'" @questionTrigger>
      <ion-grid fixed>
        <h2>Spend-O-Mat Fragebogen starten</h2>
        <p text-wrap>
          Du m&ouml;chtest Gutes tun mit deinen Spenden? Hier findest du Hinweise, wie du gem&auml;&szlig; deinen Vorstellungen und
          deiner pers&ouml;nlichen Weltsicht am meisten Impact haben kannst. Die Sache ist komplex, wir haben keine
          definitiven Antworten, aber wir helfen dir, besser zu verstehen, was du unterst&uuml;tzen willst und warum.
          Und das Ganze m&ouml;glichst wissenschaftlich und transparent. Moral ist nicht einfach und Intuition kann uns
          bei zu wenig Erfahrung fehlleiten. Die Beantwortung der folgenden Fragen soll dir bei der Orientierung helfen.
          Au&szlig;erdem bieten wir dir eine Auswahl an Organisationen, die in den Bereichen aktiv sind, die &uuml;ber den
          Fragebogen erreicht werden k&ouml;nnen.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'specific reason'" @questionTrigger>
      <ion-grid fixed>
        <h2>Spezieller Zweck?</h2>
        <p text-wrap>
          Empfindest du eine vorrangige Verpflichtung dich f&uuml;r einen bestimmten Zweck oder eine bestimmte Gruppe
          einzusetzen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'uncertain projects'" @questionTrigger>
      <ion-grid fixed>
        <h2>Risikoreiche Projekte?</h2>
        <p text-wrap>
          Ist es OK f&uuml;r dich risikoreiche Projekte zu priorisieren, falls der potentielle Nutzen hoch genug ist?
          W&uuml;rdest du z.B. eher etwas tun, von dem du denkst, dass es eine 1%-ige Change h&auml;tte 1.000 Leben zu retten,
          als ein Leben sicher zu bewahren?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'time scope'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wann willst du helfen?</h2>
        <p text-wrap>
          Sollten wir unsere Aufmerksamkeit auf die n&auml;chsten Jahrzehnte richten - vielleicht auf Grund unserer Pflicht
          unserer Generation gegen&uuml;ber - oder weil wir die Zukunft nicht sicher beeinflussen k&ouml;nnen?
          Oder ist es lohnenswert sehr langfristige Ziele zu unterst&uuml;tzen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'measurable goals'" @questionTrigger>
      <ion-grid fixed>
        <h2>Messbare Ziele?</h2>
        <p text-wrap>
          Sollten wir uns auf Projekte fokussieren, bei denen es m&ouml;glich ist unseren Effekt zu messen und mit anderen
          Projekten zu vergleichen? Es ist nicht m&ouml;glich, klar zu trennen welche Projekte hierunter fallen. Daher
          empfehlen wir, dass du dir gegebenenfalls auch den von dir nicht gew&auml;hlten Pfad nochmals ansiehst.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'more generations'" @questionTrigger>
      <ion-grid fixed>
        <h2>Sind mehr Generation besser?</h2>
        <p text-wrap>
          Es wird die Menschheit vermutlich nicht f&uuml;r immer geben. Wenn alles andere gleich bliebe, w&auml;re es ein
          signifikant schlechteres Szenario, wenn die Menschheit fr&uuml;her aussterben w&uuml;rde (zum Beispiel in weniger
          hunderten statt tausnden von Jahren)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'existential risks'" @questionTrigger>
      <ion-grid fixed>
        <h2>Sind existentielle Risiken vermeidbar?</h2>
        <p text-wrap>
          K&ouml;nnen wir die die Risiken der zuk&uuml;nftigen Ausl&ouml;schung der Menschheit reduzieren (z.B. durch die Schaffung
          entsprechender Institutionen)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'improve society'" @questionTrigger>
      <ion-grid fixed>
        <h2>Kann man die Gesellschaft verbessern?</h2>
        <p text-wrap>
          K&ouml;nnen wir durch gesellschaftliche Verbesserungen einen sehr langfristigen Effekt erzielen
          (z.B. indem neue Werte den Menschen durch schwere Zeiten helfen)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'knowledge values institutions'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wie erzielen wir den gr&ouml;&szlig;ten langfristigen Effekt?</h2>
        <p text-wrap>
          Die Verbesserung welchen Aspekts w&uuml;rde den gr&ouml;&szlig;ten langfristigen Nutzen bringen: Institutionen,
          gesellschaftliche Moralvorstellungen oder das Wissen der Menschheit?
          Diese Frage ist schwierig und h&auml;ngt von vielen Fakten ab: Werden die gesellschaftlichen Werte unabdingbar
          fr&uuml;her oder sp&auml;ter in die gleiche Richtung driften? Werden bestimmte Technologien f&uuml;r die nahe Zukunft f&uuml;r
          das &uuml;berleben der Menschheit bestimmend sein (z.B. k&uuml;nstliche Intelligenz oder Human-Gentechnik)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'environmental damage'" @questionTrigger>
      <ion-grid fixed>
        <h2>Richten wir einen permanten Schaden an der Umwelt an?</h2>
        <p text-wrap>
          Besteht eine hohe Wahrscheinlichkeit, dass der Mensch durch sein Handeln eine extreme, langfristige
          Ver&auml;nderung der Umwelt herbeif&uuml;hrt (z.B. Treibhauseffekt, nuklearer Winter oder Kontamination der
          Weltmeere), die das Leben der Menschheit &uuml;ber die n&auml;chsten Jahrhunderte deutlich beschwerlicher machen w&uuml;rde?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'rights catastrophe knowledge'" @questionTrigger>
      <ion-grid fixed>
        <h2>Was ist wichtiger?</h2>
        <p text-wrap>
          Die ethischen und emipirischen Annahmen die wir bis hierhin diskutierten, haben keinen beschr&auml;nkten Fokus. Die
          Vielzahl der Probleme m&uuml;ssen gegen ihre Nachverfolgbarkeit und Vernachl&auml;ssigkeit gepr&uuml;ft werden. Hier sind
          einige Vorschl&auml;ge f&uuml;r vernachl&auml;ssigte und nachverfolgbare Problemgebiete. Welches davon w&auml;re dir am
          wichtigsten?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'animals per human'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wie viele Tierleben ist ein Menschenleben wert?</h2>
        <p text-wrap>
          Wie viele Jahre Leid von H&uuml;hnern m&uuml;ssten wir verhindern, um mehr Gutes zu tun als wenn wir ein Jahr Leid
          eines Menschen verhindern k&ouml;nnten? Wir nutzen an dieser Stelle H&uuml;hner, da diese ~95% aller Zuchttiere in
          der Landwirtschaft ausmachen.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'farm life'" @questionTrigger>
      <ion-grid fixed>
        <h2>Ist Leben auf Bio-H&ouml;fen lebenswert?</h2>
        <p text-wrap>
          W&auml;re das Leben f&uuml;r ein Tier auf einem landwirtschaftlichen Betrieb nach Bio-Standard mit Freilauffl&auml;che
          besser als nie geboren worden zu sein?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'opportunity health'" @questionTrigger>
      <ion-grid fixed>
        <h2>Chancen oder Gesundheit?</h2>
        <p text-wrap>
          Ganz allgemein gesprochen, ist es besser sich darauf zu konzentrieren die Armut zu reduzieren und Chancen zu
          f&uuml;r Entwicklung zu erm&ouml;glichen oder Tod und Leid zu vermeiden?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'poverty education'" @questionTrigger>
      <ion-grid fixed>
        <h2>Lebensstandard oder Bildung?</h2>
        <p text-wrap>
          Nach derzeitigen statistischen Angaben existieren Hilfsorganisationen die folgendes mit 3.500$ erreichen
          k&ouml;nnen. Was davon sollten wir vorziehen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'death suffering'" @questionTrigger>
      <ion-grid fixed>
        <h2>Tode oder Leid verhindern?</h2>
        <p text-wrap>
          Nach derzeitigen statistischen Angaben existieren Hilfsorganisationen die folgendes mit 3.500$ erreichen
          k&ouml;nnen. Was davon sollten wir vorziehen?
        </p>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- Answers -->
  <ion-list no-lines *ngIf="!nav.startsWith('result ->')">
    <ion-item class="card-background-page">
      <ion-grid fixed>
        <ion-row [ngSwitch]="nav" justify-content-center>
          <ion-col *ngSwitchCase="'start'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('specific reason')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/start.jpg"/>
              <div class="card-title">OK, verstanden</div>
              <div class="card-subtitle">Ich will so viel Gutes tun wie m&ouml;glich!</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'specific reason'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> specific responsibility')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/specific_reason_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Ich wei&szlig; bereits sehr genau was und wem ich helfen will.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'specific reason'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('uncertain projects')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Ich habe h&ouml;chstens eine wage Vorstellung davon, was und wen ich unterst&uuml;tzen sollte.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'uncertain projects'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('time scope')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/uncertain_projects_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir sollten tun, was auch immer den gr&ouml;&szlig;ten erwarteten Wert hat.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'uncertain projects'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/uncertain_projects_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Wir sollten sicherstellen, dass wir einen Unterschied machen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'measurable goals'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('animals per human')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/measurable_goals_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Nur messbare Projekte erm&ouml;glichen uns, uns kontinuierlich zu verbessern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'measurable goals'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('rights catastrophe knowledge')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/measurable_goals_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Schwer zu messende Projekte werden sehr h&auml;ufig vernachl&auml;ssigt.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'time scope'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('more generations')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/time_scope_longterm.jpg"/>
              <div class="card-title">Langfristig</div>
              <div class="card-subtitle">Zuk&uuml;nftige Leben sind genauso wichtig wie heutige Leben, und wir k&ouml;nnen ihnen helfen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'time scope'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/time_scope_lifetime.jpg"/>
              <div class="card-title">Lebzeit</div>
              <div class="card-subtitle">Wir sollten uns auf die n&auml;chsten Jahrzehnte konzentrieren.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'more generations'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('existential risks')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/more_generations_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Es w&auml;re ein Desaster, der Menschheit nicht die M&ouml;glichkeit einer lang andauernden Zukunft zu erm&ouml;glichen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'more generations'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('improve society')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/more_generations_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Sterben ist etwas schlimmes, aber nie geboren zu sein ist es nicht.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'existential risks'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> existential risks')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/existential_risks_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir k&ouml;nnen etwas tun, um unser &uuml;berleben langfristig wenigstens etwas wahrscheinlicher zu machen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'existential risks'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('improve society')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/existential_risks_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Risiken sind so fern, dass wir keinen bedeutsamen Effekt auf diese haben k&ouml;nnen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('knowledge values institutions')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir k&ouml;nnen Fortschritte erzielen, die lang andauern werden.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('knowledge values institutions')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_maybe.jpg"/>
              <div class="card-title">Vielleicht</div>
              <div class="card-subtitle">Unsere Ver&auml;nderungen k&ouml;nnten lange genug anhalten, um einen langfristigen Effekt zu haben.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('environmental damage')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Ver&auml;nderung wird sich mit der Zeit umkehren oder nie eintreten.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human knowledge')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/knowledge.jpg"/>
              <div class="card-title">Wissen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> values')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/values.jpg"/>
              <div class="card-title">Werte</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> institutions')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/institutions.jpg"/>
              <div class="card-title">Institutionen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'environmental damage'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> environment')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/environmental_damage_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Das Wohlergehen von hunderten Generationen ist bedroht.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'environmental damage'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/environmental_damage_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Wahrscheinlichkeit derart extremer Umweltbeeinflussung ist gering oder sie w&auml;re nur von kurzer Dauer.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human rights')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/human_rights.jpg"/>
              <div class="card-title">Menschenrechte</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> catastrophe')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/catastrophe.jpg"/>
              <div class="card-title">Verhinderung globaler Katastrophen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human knowledge')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/knowledge.jpg"/>
              <div class="card-title">Erweiterung des menschlichen Wissens</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('animals per human')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Etwas Anderes</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'animals per human'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('opportunity health')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/animals_per_human_more.jpg"/>
              <div class="card-title">&gt;100</div>
              <div class="card-subtitle">Menschen zu helfen ist wichtiger, unter anderem weil es weitere indirekte Effekte hat.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'animals per human'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('farm life')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/animals_per_human_less.jpg"/>
              <div class="card-title">&lt;100</div>
              <div class="card-subtitle">Tierleid ist so real wie Menschenleid und moralisch genauso relevant.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'farm life'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> animal suffering')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/farm_life_yes.jpg"/>
              <div class="card-title">Ja</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'farm life'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> animal death')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/farm_life_no.jpg"/>
              <div class="card-title">Nein</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('poverty education')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/opportunities.jpg"/>
              <div class="card-title">Chancen</div>
              <div class="card-subtitle">Wir sollten Armut reduzieren und den &auml;rmsten neue Chancen bieten.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('death suffering')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/health.jpg"/>
              <div class="card-title">Gesundheit</div>
              <div class="card-subtitle">Wir sollten vor allem Leid verhindern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> other')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Etwas Anderes</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'poverty education'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> poverty')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/poverty.jpg"/>
              <div class="card-title">Armutsbek&auml;mpfung</div>
              <div class="card-subtitle">Das Einkommen von drei Familien f&uuml;r ein Jahr verdoppeln.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'poverty education'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> education')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/education.jpg"/>
              <div class="card-title">Bildung</div>
              <div class="card-subtitle">10 Schuljahre f&uuml;r drei Kinder erm&ouml;glichen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'death suffering'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human death')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/death.jpg"/>
              <div class="card-title">Tod</div>
              <div class="card-subtitle">Den Tod eines Kindes durch Malaria verhindern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'death suffering'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human health')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/suffering.jpg"/>
              <div class="card-title">Leid</div>
              <div class="card-subtitle">1000 Menschen 10 Jahre lang ben&ouml;tigte Vitamine verabreichen.</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- RESULTS -->
  <ion-grid fixed *ngIf="nav.startsWith('result ->')" [ngSwitch]="nav">
    <ion-row justify-content-center>
      <ion-col *ngSwitchCase="'result -> existential risks'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Existentielle Risiken reduzieren</ion-card-title>
            <p>
              Da Zivilisationen f&uuml;r Jahrtausende oder gar Jahrmillionen &uuml;berdauern
              k&ouml;nnten, ist der gesamte Wert der Zukunft gewaltig. Selbst eine minimale Reduzierung der Wahrscheinlichkeit der
              Ausl&ouml;schung der Menschheit hat gro&szlig;en Wert. Dies kann durch verschiedene Ma&szlig;nahmen erreicht werden:
            </p>
            <ul>
              <li>Internationale Kooperation f&ouml;rdern, um die generelle Wahrnehmung von Risiken
                von unvorgesehende neuen Technologien zu verbessern und sich besser darauf vorbereiten zu k&ouml;nnen.</li>
              <li>Arbeit daran einen extremen, unaufhaltsamen Klimawandel und andere potentiell dramatische Ver&auml;nderungen der Umwelt besser zu verstehen,
                um f&uuml;r den Menschen katastrophale Ver&auml;nderungen zu verhindern.</li>
              <li>Die Aufmerksamkeit bzgl. Risiken k&uuml;nstlicher Intelligenzen erh&ouml;hen und daran forschen, dass
                KIs moralisch handeln und eingesetzt werden.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> specific responsibility'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Deine spezifische Verantwortung</ion-card-title>
            <p>
              Wenn du f&uuml;r dich eine &uuml;bergeordnete Berufung siehst f&uuml;r eine bestimmte Gruppe oder einen bestimmten Grund t&auml;tig zu
              werden, dann k&ouml;nntest du dieser Berufung folgen. Falls du mehrere solcher Ziele verfolgst, oder dir nicht
              sicher bist, ob vorhandene Organisationen dein Ziel auch unterst&uuml;tzen, hilft es dir vielleicht dir unsere
              <u (click)="gotoTabSearch()">Datenbank zu effektiven Hilfsorganisationen</u> anzusehen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human knowledge'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Das menschliche Wissen erweitern</ion-card-title>
            <p>
              Forschung und Entwicklung ist &uuml;blicherweise etwas, was von unterschiedlichen Parteien aus verschiedenen
              Motiven betrieben wird, sofern es dringend oder lohnenswert erscheint. Da etwas fr&uuml;her oder sp&auml;ter also
              von jemand anderem in diesem Bereich gemacht werden w&uuml;rde, handelt es sich hierbei in der Regel nicht um
              langfristige Verbesserungen. Dennoch kann es manchmal einen gro&szlig;en Unterschied machen eine bestimmte
              Schl&uuml;sseltechnologie oder verbessertes Wissen einige Jahre oder Dekaden fr&uuml;her zu erlangen.
              Derzeitige Beispiele hierf&uuml;r:
            </p>
            <ul>
              <li>
                Die Entwicklung effektiverer Energiequellen, bevor die Knappheit der &ouml;l-Vorr&auml;te zu internationalen
                Konflikten f&uuml;hrt.
              </li>
              <li>
                Die Entwicklung besserer landwirtschaftlicher Methoden, um die Auswirkung der Landwirtschaft auf den
                Klimawandel zu reduzieren.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einsch&auml;tzung des Teams vom EA Hamburg ausgew&auml;hlt. R&uuml;ckfragen k&ouml;nnen
              &uuml;ber das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivit&auml;t entsprechender  Ma&szlig;nahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme f&uuml;r die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausma&szlig;, Vernachl&auml;ssigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage &uuml;ber Wirksamkeit einer bestimmten Ma&szlig;nahme machen zu k&ouml;nnen,
              m&uuml;ssen zun&auml;chst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden k&ouml;nnen. Ein Beispiel f&uuml;r dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit gr&ouml;&szlig;eren H&uuml;rden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu ber&uuml;cksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verf&uuml;gung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher k&ouml;nnen manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in absch&auml;tzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> values'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Werte und Moralvorstellungen</ion-card-title>
            <p>
              Die Werte nach denen Menschen leben, k&ouml;nnen eine signifikante Auswirkung auf den langfristige Weg der
              Menschheit haben. Es w&auml;re m&ouml;glich, dass in den n&auml;chsten Jahrhunderten ein "value lock-in" stattfinden:
              Durch Technologie oder Institutionen k&ouml;nnte verhindert werden, dass gesellschaftliche
              Werte einzelner Individuen stark abweichen oder sich ver&auml;ndern. Falls dies eintritt, sollten wir daf&uuml;r
              Sorge tragen, dass unsere sozialen Werte bereits zuvor so gut wie m&ouml;glich sind.
              Dies betrifft derzeit insbesondere diese Aspekte:
            </p>
            <ul>
              <li>
                Rassismus und andere Formen der Diskriminierung k&ouml;nnten in unseren Gesellschaften unbegrenzt weiter
                existieren, wenn Menschen nicht die n&ouml;tige Empathie besitzen. Eventuell gibt es Wege, dies grundlegend
                zu &auml;ndern.
              </li>
              <li>
                Wenn alle Menschen altruistischer w&auml;ren, dann w&auml;ren sie auch eher bereit zusammenzuarbeiten und unsere
                globale Probleme zu l&ouml;sen.
              </li>
              <li>
                Nicht-menschliche Lebewesen k&ouml;nnten auch zuk&uuml;nftig zu wenig Rechte besitzen, falls nicht fr&uuml;hzeitig ein
                moralischer Konsens erzielt wird.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einsch&auml;tzung des Teams vom EA Hamburg ausgew&auml;hlt. R&uuml;ckfragen k&ouml;nnen
              &uuml;ber das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivit&auml;t entsprechender  Ma&szlig;nahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme f&uuml;r die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausma&szlig;, Vernachl&auml;ssigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage &uuml;ber Wirksamkeit einer bestimmten Ma&szlig;nahme machen zu k&ouml;nnen,
              m&uuml;ssen zun&auml;chst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden k&ouml;nnen. Ein Beispiel f&uuml;r dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit gr&ouml;&szlig;eren H&uuml;rden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu ber&uuml;cksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verf&uuml;gung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher k&ouml;nnen manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in absch&auml;tzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> institutions'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Institutionen verbessern</ion-card-title>
            <p>
              Institutionen waren in der bisherigen Menschheitsgeschichte ein kritischer Faktor in der
              Gesellschaftsentwicklung und werden es vermutlich auch zuk&uuml;nftig sein.
              Einige Dinge k&ouml;nnen wir jedoch besser machen als bisher:
            </p>
            <ul>
              <li>
                Wir k&ouml;nnten die internationale Kooperation verbessern, um potentiell gef&auml;rliche Technologien besser zu
                regulieren und ein Wettr&uuml;sten zu verhindern.
              </li>
              <li>
                Wir k&ouml;nnten die Transparenz der Regierungen und Berichterstattungsstandards verbessern, um die Entstehung
                permanenter totalit&auml;ter Regime durch neue Technologien zu verhindern.
              </li>
              <li>
                Wir k&ouml;nnten versuchen nachhaltig handelnde Institutionen zu schaffen, die entscheidend zu einer positiven Entwicklung
                der Gesellschaft beitragen, aber aus irgendeinem Grund bislang nicht erschaffen wurden und es vielleicht auch in Zukunft nicht w&uuml;rden.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einsch&auml;tzung des Teams vom EA Hamburg ausgew&auml;hlt. R&uuml;ckfragen k&ouml;nnen
              &uuml;ber das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivit&auml;t entsprechender  Ma&szlig;nahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme f&uuml;r die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausma&szlig;, Vernachl&auml;ssigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage &uuml;ber Wirksamkeit einer bestimmten Ma&szlig;nahme machen zu k&ouml;nnen,
              m&uuml;ssen zun&auml;chst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden k&ouml;nnen. Ein Beispiel f&uuml;r dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit gr&ouml;&szlig;eren H&uuml;rden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu ber&uuml;cksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verf&uuml;gung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher k&ouml;nnen manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in absch&auml;tzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> environment'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Permanente Umweltsch&auml;den verhindern</ion-card-title>
            <p>
              W&auml;hrend Zivilisationen sich von allen erdenklichen Katastrophen innerhalb von wenigen tausend Jahren
              erholen kann, sind dies dennoch hunderte oder tausende von Generationen die auf dem Weg dorthin darunter
              leiden m&uuml;ssen. Selbst wenn es nur eine kleine Chance gibt einen katastrophalen Schaden wie diesen zu
              verhindern, ist der potentielle Effekt es wert:
            </p>
            <ul>
              <li>
                &uuml;ckkopplungseffekte wie das Schmelzen von Permafrost, k&ouml;nnten durch das dadurch freigesetzte
                Methangas den Gro&szlig;teil der Erde in eine W&uuml;ste verwandeln.
              </li>
              <li>
                Zur Neige gehende nat&uuml;rliche Ressourcen k&ouml;nnten die Wiederaufbau der Zivilisation nach einer
                Katastrophe erschweren.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human rights'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Menschenrechte</ion-card-title>
            <p>
              F&uuml;r viele Menschen ist die Welt auf Grund von Gewalt und Unterdr&uuml;ckung ein unfreundlicher
              und unsicherer, oder sogar grausamer Ort.
              Diese Probleme zu l&ouml;sen wird neben den direkten Effekten vermutlich auch noch weitere indirekte
              postive Effekte f&uuml;r die kommenden Jahrezehnte haben:
            </p>
            <ul>
              <li>
                Wir k&ouml;nnten Menschen in totalit&auml;ten Regimen beraten und unterst&uuml;tzen, um ihnen die Werkzeuge zu geben
                sich zu wehren oder zu entkommen.
              </li>
              <li>
                Wir k&ouml;nnten mit nicht-totalit&auml;ren Regierungen zusammenarbeiten, um bestimmte kriminelle Handlungen zu ahnden
                die bis dahin ignoriert wurden.
              </li>
              <li>
                Wir k&ouml;nnten unabh&auml;ngig von Regierungen Dienste zum Schutz von Menschenrechten bereitstellen, um dort
                zu handeln, wo die Regierungsbeh&ouml;rden nicht schnell genug reagieren k&ouml;nnen.
              </li>
              <li>
                Wir k&ouml;nnten uns f&uuml;r vielerlei Arten des strukturellen Wandels in politischen und &ouml;konomischen Systemen
                einsetzen.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einsch&auml;tzung des Teams vom EA Hamburg ausgew&auml;hlt. R&uuml;ckfragen k&ouml;nnen
              &uuml;ber das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivit&auml;t entsprechender  Ma&szlig;nahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme f&uuml;r die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausma&szlig;, Vernachl&auml;ssigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage &uuml;ber Wirksamkeit einer bestimmten Ma&szlig;nahme machen zu k&ouml;nnen,
              m&uuml;ssen zun&auml;chst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden k&ouml;nnen. Ein Beispiel f&uuml;r dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit gr&ouml;&szlig;eren H&uuml;rden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu ber&uuml;cksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verf&uuml;gung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher k&ouml;nnen manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in absch&auml;tzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> catastrophe'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Katastrophen verhindern</ion-card-title>
            <p>
              Globale Katastrophen werden h&auml;ufig vernachl&auml;ssigt, da wir uns ihre Konsequenzen oft schwer vorstellen k&ouml;nnen und
              sie auf zahlreiche L&auml;nder verteilt sind.
            </p>
            <ul>
              <li>Der Klimawandel k&ouml;nnte hohe Opferzahlen durch Hungersn&ouml;te, &uuml;berschwemmungen und Massenflucht fordern.</li>
              <li>
                Epidemologisten sagen voraus, dass eine nat&uuml;rliche Pandemie in absehbarer Zeit auftreten und hunderte
                Millionen Opfer fordern k&ouml;nnte.
              </li>
              <li>Die derzeitige Wahrscheinlichekeit eines nuklearen Kriegs ist gro&szlig; genug, um besorgt zu sein.</li>
              <li>
                Einige betrachten das Altern an sich als eine existente Katastrophe: Es sterben jedes Jahr Millionen Menschen.
                Viel Geld wird in die Behandlung der Symptome gesteckt, nur wenig in die Erforschung einer Heilung.
              </li>
              <li>
                Einige betrachten das Leid von Wildtieren als eine anhaltende Katastrophe. Viele Milliarden Tiere werden
                jedes Jahr lebendig gefressen oder verhungern.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> animal suffering'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Tierleid mindern</ion-card-title>
            <p>
              Auch wenn Tierhaltung f&uuml;r die Lebensmittelproduktion in humaner Weiser durchgef&uuml;hrt werden kann, ist
              Massentierhaltung doch einer der Hauptgr&uuml;nde f&uuml;r unn&ouml;tiges Tierleid.
            </p>
            <ul>
              <li>Wir k&ouml;nnten Produkte aus Massentierhaltung regulieren oder boykotieren.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> animal death'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Tierleben retten</ion-card-title>
            <p>
              Die Anzahl Tierleben die in Gefangenschaft geboren werden und f&uuml;r die Lebensmittelproduktion sterben ist
              gewaltig.
            </p>
            <ul>
              <li>Wir k&ouml;nnten eine vegetarische oder vegane Lebensweise bewerben, um den Fleischkonsum zu reduzieren.</li>
              <li>
                Wir k&ouml;nnten bessere Verfahren zur Herstellung k&uuml;nstlicher Tierprodukte oder Tierersatzprodukte entwickeln,
                um den Bedarf an Fleich von Tierfarmen zu verringern.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> poverty'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Lebensstandards</ion-card-title>
            <p>
              Mehr als eine Milliarden Menschen leben derzeit von weniger als 1,05 € am Tag. Angesichts systematische Ungleichheit
              und derzeitiger Politk der Industrienationen k&ouml;nnten legislative &auml;nderungen oder
              direkte Interventionen die dramatische Verbesserung der Lebensqualit&auml;t dieser Menschen bei nur geringen
              Kosten bewirken.
            </p>
            <ul>
              <li>
                Regierungen k&ouml;nnten durch Lobbyarbeit dazu gebracht werden, grundlegende Dienstleistungen und Infrastruktur
                f&uuml;r die Menschen bereitzustellen, die es am dringendsten brauchen.
              </li>
              <li>
                Wichtige Dienstleistungen und Infrastruktur k&ouml;nnen direkt von nicht-kommerziellen, durch Privatspenden
                gesponsert Hilfsorganisationen (NGOs) bereitgestellt werden.
              </li>
              <li>
                Auch direkt Geld an diese benachteiligte Gemeinschaften zu geben (sofern die Verteilung korrekt umgesetzt
                ist) kann durch dadurch m&ouml;gliche Investitionen viel zur Erh&ouml;hung des Lebensstandard beitragen.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> education'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Bildung</ion-card-title>
            <p>
              In vielen L&auml;ndern ist Bildung eine Seltenheit, besonders f&uuml;r M&auml;dchen. Schulen sind oft schlecht
              ausgestattet. Als Resultat sind Millionen von Menschen Analphabeten ohne relevante Bildung und haben
              somit gro&szlig;e Schwierigkeiten der Armut zu entkommen.
            </p>
            <ul>
              <li>
                Privatschulen in Lagos kosten im Schnitt 30 € pro Sch&uuml;ler und Schuljahr.
                Breitere Vergf&uuml;gbarkeit von erschwinglicher Bildung k&ouml;nnte dazu beitragen,
                dass der Lebensstandard von sehr vielen Menschen in diesen L&auml;ndern steigt.
              </li>
              <li>
                Kinder zu entwurmen, und damit vom in vielen Entwicklungsl&auml;ndern gew&ouml;hnlichen Parasitenbefall zu befreien,
                erm&ouml;glicht ihnen h&auml;ufiger in die Schule zu gehen und f&uuml;hrt nachweislich zu einer deutlichen Verbesserung
                ihres sp&auml;teren Lebensstandards.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human death'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Menschenleben retten</ion-card-title>
            <p>
              In Entwicklungsl&auml;ndern sterben jeden Tag tausende von Menschen durch Hunger oder einfach zu verhindernde
              Krankheiten.
            </p>
            <ul>
              <li>
                Anti-Moskitonetze k&ouml;nnten gekauft und in betroffenen Regionen verteilt werden.
                Im Schnitt kann dadurch je 2.500 € ein Kind davor bewahrt werden an Malaria zu sterben.
              </li>
              <li>
                Wir k&ouml;nnten die Untersuchung von vernachl&auml;ssigten Krankheiten und Epidemien f&ouml;rdern, um gezielt
                Heilmittel, Pr&auml;ventionsmittel und Behandlungen zu entwickeln und anzuwenden.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human health'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Globale Gesundheit</ion-card-title>
            <p>
              Millionen von Menschen leiden an leicht zu verhindernen Krankheiten, Parasitenbefall oder Vitaminmangel.
              Weitere Millionen haben keinen Zugang zu sauberem Trinkwasser oder ausgewogener Nahrung.
            </p>
            <ul>
              <li>
                Essentielle Vitamine und Mineralstoffe k&ouml;nnen in &auml;rmlichen Gegenden verteilt werden.
                Die Kosten f&uuml;r die komplette Nahrungsmittelerg&auml;nzung f&uuml;r ein Jahr betragen pro Person nur 0,25 €.
                Dies hilft vor allem betroffenen Kindern ges&uuml;nder aufzuwachsen und wirkt der geistigen und
                k&ouml;rperlichen Unterentwicklung entgegen.
              </li>
              <li>
                Regierungen k&ouml;nnen durch Lobbyarbeit auf den wirtschaftlichen Nutzen von Investitionen in das
                Gesundheitswesen aufmerksam gemacht werden.
              </li>
              <li>
                Wir k&ouml;nnen die Untersuchung von vernachl&auml;ssigten Krankheiten und Epidemien f&ouml;rdern, um gezielt
                Heilmittel, Pr&auml;ventionsmittel und Behandlungen zu entwickeln und anzuwenden.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> other'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Wir wissen es nicht</ion-card-title>
            <p>
              Vermutlich fehlen uns noch ein paar Ziele zur Verbesserung der Welt. Wenn dir Ursachen und Fragen einfallen,
              die in diesem Fragebogen auftauchen sollten, dann teile uns dies gerne mit.
            </p>
            <p>
              Eventuell empfiehlt es sich f&uuml;r dich, dass du unsere <u (click)="gotoTabSearch()">Datenbank effektiver Hilfsorganisationen</u> mit deinen
              eigenen Suchkriterien erkundest.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 col-xl-6>
        <ion-card *ngIf="organizations.length > 0">
          <ion-card-content text-wrap>
            <p>Diese Hilfsorganisationen haben sich dem von dir pr&auml;ferierten Ziel gewidmet:</p>
          </ion-card-content>
        </ion-card>
        <ion-list>
          <div *ngIf="isMobile()">
            <ion-item-sliding *ngFor="let o of organizations">
              <ion-item text-wrap>
                <ion-thumbnail item-start>
                  <img src="../../assets/imgs/organizations/{{ o.thumbnail }}.jpg"/>
                </ion-thumbnail>
                <h2>{{ o.name }}</h2>
                <h3>{{ o.slogan }}</h3>
                <p>{{ o.shortDescription }}</p>
                <ion-badge *ngFor="let e of o.evaluators" color="{{ e.top && 'danger' || 'secondary' }}" style="margin-right: 3px">{{e.evaluator}}</ion-badge>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="primary" (click)="openOrganizationPage({o: o})">
                  <ion-icon name="information-circle"></ion-icon>
                  Mehr Info
                </button>
                <a [href]="o.website">
                  <button ion-button color="secondary">
                    <ion-icon name="browsers"></ion-icon>
                    Website
                  </button>
                </a>
                <a [href]="o.donationLink">
                  <button ion-button color="danger">
                    <ion-icon name="cash"></ion-icon>
                    Spenden
                  </button>
                </a>
              </ion-item-options>
            </ion-item-sliding>
          </div>
          <div *ngIf="!isMobile()">
            <ion-item text-wrap *ngFor="let o of organizations">
              <ion-thumbnail item-start>
                <img src="../../assets/imgs/organizations/{{ o.thumbnail }}.jpg"/>
              </ion-thumbnail>
              <h2>{{ o.name }}</h2>
              <h3>{{ o.slogan }}</h3>
              <p>{{ o.shortDescription }}</p>
              <ion-badge *ngFor="let e of o.evaluators" color="{{ e.top && 'danger' || 'secondary' }}" style="margin-right: 3px">{{e.evaluator}}</ion-badge>
              <div class="buttons" item-end>
                <p>
                  <button ion-button block color="primary" (click)="openOrganizationPage({o: o})">
                    <ion-icon name="information-circle"></ion-icon>
                    &nbsp;Mehr Info
                  </button>
                </p>
                <p>
                  <a [href]="o.website" target="_blank">
                    <button ion-button block color="secondary">
                      <ion-icon name="browsers"></ion-icon>
                      &nbsp;Website
                    </button>
                  </a>
                </p>
                <p>
                  <a [href]="o.donationLink" target="_blank">
                    <button ion-button block color="danger">
                      <ion-icon name="cash"></ion-icon>
                      &nbsp;Spenden
                    </button>
                  </a>
                </p>
              </div>
            </ion-item>
          </div>
        </ion-list>
        <button ion-button block (click)="answer('start')">Test wiederholen</button>
        <button ion-button block color="secondary" (click)="gotoTabSearch()">Mehr Organisationen finden</button>
        <a ion-button block href="https://80000hours.org/2014/01/which-cause-is-most-effective-300/" color="dark" target="_blank">Mehr &uuml;ber Priorisierung erfahren</a>
      </ion-col>
    </ion-row>
    <div class="bottom-space"></div>
  </ion-grid>
</ion-content>
