// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 1 !important;
}

.clickable {
  cursor: pointer;
}

ion-header .toolbar {
  margin: auto;
  .toolbar-title {
    font-weight: lighter;
    font-size: 3.0rem;
    #logo, #title {
      vertical-align: middle;
    }
    #title {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

ion-footer {
  color: map-get($colors, light);
  bottom: 56px;
}

ion-footer.tabs-top {
  bottom: 0;
}

ion-footer .toolbar {
  padding: 0 20px !important;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  ion-navbar.toolbar,
  ion-header .toolbar[fixed],
  ion-footer .toolbar[fixed],
  ion-tabs .tabbar {
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
}

.bottom-space {
  height: 45px;
}
