<ion-header no-border>
  <ion-toolbar fixed color="primary">
    <ion-title>
      <img id="logo" alt="logo" height="40" src="../assets/icon/logo.png"/>
      <span id="title">{{title}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs color="primary" [tabsPlacement]="tabsPlacement" [tabsLayout]="tabsLayout">
  <ion-tab [root]="tab1Root" tabTitle="Spend-O-Mat" (ionSelect)="this.title ='Spend-O-Mat'" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Suche" (ionSelect)="this.title ='Hilfsorganisationen'" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="EA" (ionSelect)="this.title ='Effektiver Altruismus'" tabIcon="school"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Kontakt" (ionSelect)="this.title ='Kontakt'" tabIcon="contacts"></ion-tab>
</ion-tabs>

<ion-footer no-border [ngClass]="'tabs-' + tabsPlacement">
  <ion-toolbar fixed color="dark">
    <span class="clickable" (click)="modalService.openImprintModal()">Impressum</span>
    |
    <span class="clickable" (click)="modalService.openPrivacyModal()">Datenschutzerkl&auml;rung</span>
    |
    <a href="https://bitbucket.org/_thomsen_/effective-giving/issues" target="_blank">Feedback</a>
  </ion-toolbar>
</ion-footer>
