<ion-header>
  <ion-toolbar>
    <ion-title>Informationen zum Beta Test</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <p>Willkommen liebe <b>Beta-User</b>,</p>
      <p>schön das ihr euch für unser Projekt interessiert. Die Entwicklung der Seite ist ein Projekt der EA Lokalgruppe Hamburg. Wir wollen Spenden-Interessierten eine Orientierungshilfe geben ihre Spendenmotivation mit möglichen Problemfelder zusammenzubringen.</p>
      <p>Wir würden uns freuen, eure Meinung zu unserer Seite zu hören und generelles Feedback zu bekommen.</p>
      <p>Was uns hilft:</p>
      <ul>
        <li>Bedienungsfreundlichkeit: Sind alle Funktionen klar verständlich? Vermisst ihr etwas?</li>
        <li>Verständlichkeit: Sind die Inhalte der Seite klar? Besteht die Gefahr von Missverständnissen? Ist sprachliche Klarheit gegeben?</li>
        <li>Technische Fehler: Funktionieren z.B. Links oder Buttons nicht?</li>
        <li>Inhaltliche Richtigkeit: Gibt es inhaltliche Inkonsistenzen? Sind alle "notwendigen" Informationen vollständig dargestellt?</li>
        <li>"Feeling": Wie fühlt sich die Nutzung der Seite an? Ist die Seite ansprechend aufgebaut?</li>
      </ul>
      <p>Was ihr wissen müsst:</p>
      <ul>
        <li>Es handelt sich um die Beta-Version. Der offizielle Launch der Seite ist für Januar 2019 geplant.</li>
        <li>Einige Logos sind noch nicht lizensiert, weshalb wir eine weite öffentliche Verbreitung zunächst vermeiden wollen. Daher die Seite bitte zunächst nicht weiter verbreiten.</li>
        <li>Das Kontaktformular ist funktionsfähig aber noch nicht aktiv.</li>
        <li>Bitte gebt uns Feedback zu Fehlern bzw. eure Meinung als Freitext über den <a href="https://bitbucket.org/_thomsen_/effective-giving/issues" target="_blank">Issue-Tracker</a>.</li>
        <li>Füllt die <a href="https://www.surveymonkey.de/r/5ZLK3HG" target="_blank">Survey</a> aus (Dauer: 1 Minute)!</li>
      </ul>
      <p>Danke für eure Unterstützung!</p>
      <p>Euer Team vom <b>EA Hamburg</b></p>
    </ion-item>
  </ion-list>
</ion-content>
